In [1]:
import pandas as pd

In [9]:
#loading particants csv and goals csv into different dataframes

In [2]:
participants_data = pd.read_csv("Participants.csv")

In [3]:
goals_data = pd.read_csv("Goals.csv")

In [10]:
#printing to ensure dataframes are accurately captured

In [5]:
print(participants_data.head)

<bound method NDFrame.head of     ID  Start Date  Exit Date Date of first employment assessment  \
0    1  10/25/2023        NaN                                 NaN
1    2   9/12/2023        NaN                          11/14/2023
2    3   9/12/2023        NaN                          11/20/2023
3    4   9/13/2023        NaN                          11/28/2023
4    5   9/18/2023        NaN                          10/30/2023
5    6   9/18/2023        NaN                          12/14/2023
6    7   9/18/2023        NaN                          10/18/2023
7    8   9/18/2023        NaN                           12/5/2023
8    9   9/19/2023        NaN                          10/18/2023
9   10   9/19/2023        NaN                          10/24/2023
10  11   9/20/2023        NaN                          11/30/2023
11  12   9/20/2023        NaN                          12/29/2023
12  13   9/21/2023        NaN                          10/19/2023
13  14   9/20/2023        NaN                          11/22/2023
14  15   9/21/2023        NaN                          12/28/2023
15  16   9/25/2023        NaN                          12/30/2023
16  17   9/25/2023        NaN                          10/18/2023
17  18   9/26/2023  4/25/2024                          10/25/2023
18  19   9/26/2023        NaN                          10/31/2023
19  20   9/27/2023        NaN                          10/25/2023
20  21   9/25/2023        NaN                          11/30/2023
21  22   9/20/2023        NaN                          11/27/2023
22  23   9/21/2023        NaN                          12/28/2023
23  24   9/26/2023        NaN                          11/30/2023
24  25   10/2/2023        NaN                          10/28/2023
25  26   10/9/2023        NaN                          10/25/2023
26  27   10/9/2023  2/15/2024                          11/22/2023
27  28   10/9/2023        NaN                          11/15/2023
28  29  10/10/2023        NaN                          11/21/2023
29  30   10/4/2023        NaN                          12/28/2023
30  31  10/25/2023        NaN                            1/4/2024
31  32  10/25/2023        NaN                          11/30/2023
32  33  10/26/2023        NaN                            2/6/2024
33  34  10/30/2023        NaN                            1/8/2024
34  35  10/31/2023        NaN                          12/27/2023
35  36  11/14/2023        NaN                           1/11/2024
36  37  11/21/2023        NaN                            2/6/2024
37  38  11/29/2023        NaN                          12/20/2023
38  39   12/4/2023        NaN                           12/6/2023
39  40  12/14/2023        NaN                          12/21/2023

   Employed (first assessment) Date of most recent employment assessment  \
0                          NaN                                       NaN
1                           No                                 4/24/2024
2                          Yes                                  4/1/2024
3                          Yes                                12/20/2024
4                           No                                  4/3/2024
5                          Yes                                  5/9/2024
6                           No                                 5/15/2024
7                          Yes                                  5/6/2024
8                           No                                 5/21/2024
9                           No                                 5/20/2024
10                          No                                 5/22/2024
11                         Yes                                 4/30/2024
12                         Yes                                  5/7/2024
13                         Yes                                 4/18/2024
14                         Yes                                 5/15/2024
15                         Yes                                 5/22/2024
16                          No                                  5/7/2024
17                          No                                 4/29/2024
18                          No                                  5/2/2024
19                         Yes                                 4/10/2024
20                         Yes                                 5/22/2024
21                         Yes                                 5/13/2024
22                          No                                  5/9/2024
23                         NaN                                 5/15/2024
24                         Yes                                 4/25/2024
25                          No                                 4/11/2024
26                         Yes                                 2/22/2024
27                          No                                 4/17/2024
28                         Yes                                 5/15/2024
29                          No                                 5/21/2024
30                          No                                 5/22/2024
31                         Yes                                 4/24/2024
32                         Yes                                 4/30/2024
33                         Yes                                 4/30/2024
34                         NaN                                 5/15/2024
35                         Yes                                 4/29/2024
36                         Yes                                 5/14/2024
37                         NaN                                  4/3/2024
38                          No                                 5/15/2024
39                          No                                  4/9/2024

   Employed (most recent assessment)
0                                NaN
1                                 No
2                                 No
3                                Yes
4                                 No
5                                Yes
6                                 No
7                                Yes
8                                 No
9                                 No
10                               Yes
11                               Yes
12                               Yes
13                               Yes
14                                No
15                               Yes
16                                No
17                               NaN
18                                No
19                               Yes
20                               Yes
21                               Yes
22                                No
23                               Yes
24                               Yes
25                                No
26                               NaN
27                                No
28                               Yes
29                               Yes
30                                No
31                               Yes
32                               Yes
33                               Yes
34                                No
35                               Yes
36                               Yes
37                                No
38                               Yes
39                                No  >

In [6]:
print(goals_data.head)

<bound method NDFrame.head of      ID Date Goal Set          Bridge Pillar of Goal Goal Achieved?
0     2    10/24/2023           Education & Training            NaN
1     2    10/17/2023  Financial Management: Savings            NaN
2     2    12/26/2023            Employment & Career             No
3     2     3/20/2024            Employment & Career            NaN
4     2     4/24/2024           Education & Training            NaN
..   ..           ...                            ...            ...
105  37      2/6/2024      Family Stability: Housing            Yes
106  37     2/27/2024           Education & Training             No
107  37     5/14/2024            Employment & Career            NaN
108  39     2/26/2024             Well-Being: Health            NaN
109  40     1/30/2024            Employment & Career            NaN

[110 rows x 4 columns]>

In [ ]:
#Answering: how many individual participants did NON set at least one goal?

In [8]:
non_participants = set(participants_data["ID"]) - set(goals_data["ID"])
print(non_participants)

{1, 18, 27, 38}

In [11]:
#Since only 4 participants did not set at least one goal, we know that 36 participants did.

In [17]:
goals_set = 36/40
print(goals_set)

0.9

In [18]:
#Answering: how many participants achieved at least one goal?

In [23]:
counts = goals_data["Goal Achieved?"].value_counts()
print(counts)

Yes    48
No      8
Name: Goal Achieved?, dtype: int64

In [28]:
yes_goals = goals_data[goals_data.values  == "Yes"]
print(yes_goals)

     ID Date Goal Set          Bridge Pillar of Goal Goal Achieved?
5     3      1/3/2024    Financial Management: Debts            Yes
8     4     11/2/2023  Financial Management: Savings            Yes
9     4     1/16/2024             Well-Being: Health            Yes
12    5     11/6/2023             Well-Being: Social            Yes
14    5     2/12/2024             Well-Being: Health            Yes
16    5     4/30/2024           Education & Training            Yes
18    7    10/11/2023    Financial Management: Debts            Yes
19    7    12/13/2023  Financial Management: Savings            Yes
26   10     2/27/2024             Well-Being: Health            Yes
31   12      1/9/2024             Well-Being: Health            Yes
32   12      2/8/2024  Financial Management: Savings            Yes
33   12      3/5/2024            Employment & Career            Yes
34   12      4/2/2024   Family Stability: Dependents            Yes
35   13    11/21/2023    Financial Management: Debts            Yes
36   13     1/29/2024            Employment & Career            Yes
37   13     3/12/2024      Family Stability: Housing            Yes
38   13      4/1/2024      Family Stability: Housing            Yes
39   14     1/30/2024  Financial Management: Savings            Yes
46   16     2/21/2024             Well-Being: Health            Yes
47   16     4/30/2024             Well-Being: Health            Yes
50   17    10/23/2023            Employment & Career            Yes
51   17    11/27/2023            Employment & Career            Yes
52   17     1/24/2024             Well-Being: Health            Yes
54   17     3/19/2024      Family Stability: Housing            Yes
56   19    11/28/2023    Financial Management: Debts            Yes
57   19      1/8/2024           Education & Training            Yes
58   19     2/12/2024      Family Stability: Housing            Yes
59   19     3/14/2024   Family Stability: Dependents            Yes
60   19      5/2/2024           Education & Training            Yes
61   20    10/19/2023            Employment & Career            Yes
62   20      1/2/2024             Well-Being: Health            Yes
64   20      3/6/2024             Well-Being: Health            Yes
66   20     3/28/2024             Well-Being: Health            Yes
67   21      1/8/2024            Employment & Career            Yes
68   21     1/24/2024             Well-Being: Health            Yes
69   21     1/31/2024            Employment & Career            Yes
76   24     4/24/2024   Family Stability: Dependents            Yes
79   26    10/24/2023             Well-Being: Social            Yes
80   26    11/28/2023            Employment & Career            Yes
81   26     2/29/2024            Employment & Career            Yes
83   28     12/6/2023            Employment & Career            Yes
86   29    12/12/2023           Education & Training            Yes
90   29      2/6/2024   Family Stability: Dependents            Yes
94   31      3/4/2024             Well-Being: Health            Yes
95   32      2/8/2024            Employment & Career            Yes
98   34      1/8/2024   Family Stability: Dependents            Yes
99   34     2/12/2024  Financial Management: Savings            Yes
105  37      2/6/2024      Family Stability: Housing            Yes

In [29]:
n = len(pd.unique(yes_goals['ID']))
print("No.of.unique values :", 
      n)

No.of.unique values : 21

In [30]:
total_yes = 21/40
print(total_yes)

0.525

In [31]:
#Now evaluating if participants are gaining employment from the program.

In [32]:
#We can do this by comparing what the participants answered in the intial assessment to the most recent assessment.

In [37]:
program_goals = participants_data[['ID','Employed (first assessment)','Employed (most recent assessment)']]
print(program_goals)

    ID Employed (first assessment) Employed (most recent assessment)
0    1                         NaN                               NaN
1    2                          No                                No
2    3                         Yes                                No
3    4                         Yes                               Yes
4    5                          No                                No
5    6                         Yes                               Yes
6    7                          No                                No
7    8                         Yes                               Yes
8    9                          No                                No
9   10                          No                                No
10  11                          No                               Yes
11  12                         Yes                               Yes
12  13                         Yes                               Yes
13  14                         Yes                               Yes
14  15                         Yes                                No
15  16                         Yes                               Yes
16  17                          No                                No
17  18                          No                               NaN
18  19                          No                                No
19  20                         Yes                               Yes
20  21                         Yes                               Yes
21  22                         Yes                               Yes
22  23                          No                                No
23  24                         NaN                               Yes
24  25                         Yes                               Yes
25  26                          No                                No
26  27                         Yes                               NaN
27  28                          No                                No
28  29                         Yes                               Yes
29  30                          No                               Yes
30  31                          No                                No
31  32                         Yes                               Yes
32  33                         Yes                               Yes
33  34                         Yes                               Yes
34  35                         NaN                                No
35  36                         Yes                               Yes
36  37                         Yes                               Yes
37  38                         NaN                                No
38  39                          No                               Yes
39  40                          No                                No

In [38]:
#And then looking at which participants went from NA or no in the initial assessment to Yes in the second assessment

In [45]:
participants_data.loc[participants_data['Employed (first assessment)'] != participants_data['Employed (most recent assessment)']]

,ID,Start Date,Exit Date,Date of first employment assessment,Employed (first assessment),Date of most recent employment assessment,Employed (most recent assessment)
0,1,10/25/2023,NaN,NaN,NaN,NaN,NaN
2,3,9/12/2023,NaN,11/20/2023,Yes,4/1/2024,No
10,11,9/20/2023,NaN,11/30/2023,No,5/22/2024,Yes
14,15,9/21/2023,NaN,12/28/2023,Yes,5/15/2024,No
17,18,9/26/2023,4/25/2024,10/25/2023,No,4/29/2024,NaN
23,24,9/26/2023,NaN,11/30/2023,NaN,5/15/2024,Yes
26,27,10/9/2023,2/15/2024,11/22/2023,Yes,2/22/2024,NaN
29,30,10/4/2023,NaN,12/28/2023,No,5/21/2024,Yes
34,35,10/31/2023,NaN,12/27/2023,NaN,5/15/2024,No
37,38,11/29/2023,NaN,12/20/2023,NaN,4/3/2024,No
38,39,12/4/2023,NaN,12/6/2023,No,5/15/2024,Yes

In [ ]:
#Out of all the participants who answered differentlly between the two assessments, 4 gained employment and 2 lost.